///Colors
$blue_6_d3dbdf: rgba(211.0000026226, 219.00000214577, 223.00000190735, 1);
$blue_5_e2e7e9: rgba(226.00000172853, 231.00000143051, 233.0000013113, 1);
$grey_22_212121: rgba(33.000001832843, 33.000001832843, 33.000001832843, 1);
$blue_14_6_7d8b: rgba(96.000001877546, 125.00000014901, 139.00000691414, 1);
$blue_7_c5cfd4: rgba(197.00000345707, 207.00000286102, 212.000002563, 1);
$yellow_13_daba75: rgba(218.00000220537, 186.00000411272, 117.00000062585, 1);
$orange_13_d89e6d: rgba(216.00000232458, 158.00000578165, 109.00000110269, 1);
$red_21_3d2_1d: rgba(61.000000163913, 32.000001892447, 29.000000171363, 1);
$red_22_291613: rgba(41.000001356006, 22.000000588596, 19.00000076741, 1);
$red_23_15_b_a: rgba(21.000000648201, 11.000000294298, 10.000000353903, 1);
$red_2_512b26: rgba(81.000002771616, 43.000001236796, 38.00000153482, 1);
$red_19_65362f: rgba(101.00000157952, 54.000000581145, 47.000000998378, 1);
$red_18_794_39: rgba(121.00000038743, 64.000003784895, 57.000000402331, 1);
$red_17_8d4b42: rgba(141.00000679493, 75.000003129244, 66.000003665686, 1);
$red_16_a1564b: rgba(161.00000560284, 86.000002473593, 75.000003129244, 1);
$red_15_b56_55: rgba(181.00000441074, 96.000001877546, 85.000002533197, 1);
$red_14_c96b5e: rgba(201.00000321865, 107.0000012219, 94.000001996756, 1);
$red_13_dd7567: rgba(221.00000202656, 117.00000062585, 103.00000146031, 1);
$red_12_e_8174: rgba(224.00000184774, 129.00000751019, 116.00000068545, 1);
$red_11_e38e82: rgba(227.00000166893, 142.00000673532, 130.00000745058, 1);
$red_1_e69a9_: rgba(230.00000149012, 154.00000602007, 144.00000661612, 1);
$red_9_e9a79e: rgba(233.0000013113, 167.00000524521, 158.00000578165, 1);
$red_8_ecb3ac: rgba(236.00000113249, 179.00000452995, 172.00000494719, 1);
$red_7_efc_b9: rgba(239.00000095367, 192.00000375509, 185.00000417233, 1);
$red_6_f2ccc7: rgba(242.00000077486, 204.00000303984, 199.00000333786, 1);
$red_5_f5d9d5: rgba(245.00000059605, 217.00000226498, 213.0000025034, 1);
$red_4_f8e5e3: rgba(248.00000041723, 229.00000154972, 227.00000166893, 1);
$red_3_fbf2f1: rgba(251.00000023842, 242.00000077486, 241.00000083447, 1);
$orange_22_281d14: rgba(40.00000141561, 29.000000171363, 20.000000707805, 1);
$orange_23_14_f_a: rgba(20.000000707805, 15.000000055879, 10.000000353903, 1);
$orange_21_3b2c1e: rgba(59.000000283122, 44.000001177192, 30.000000111759, 1);
$orange_2_4f3a28: rgba(79.000002890825, 58.000000342727, 40.00000141561, 1);
$orange_19_634832: rgba(99.000001698732, 72.000003308058, 50.000000819564, 1);
$orange_18_76573c: rgba(118.00000056624, 87.000002413988, 60.000000223517, 1);
$orange_17_8a6546: rgba(138.00000697374, 101.00000157952, 70.000003427267, 1);
$orange_16_9e735_: rgba(158.00000578165, 115.00000074506, 80.000002831221, 1);
$orange_15_b1825a: rgba(177.00000464916, 130.00000745058, 90.000002235174, 1);
$orange_14_c59_64: rgba(197.00000345707, 144.00000661612, 100.00000163913, 1);
$orange_12_dba67a: rgba(219.00000214577, 166.00000530481, 122.00000032783, 1);
$orange_11_dfaf87: rgba(223.00000190735, 175.00000476837, 135.00000715256, 1);
$orange_1_e2b894: rgba(226.00000172853, 184.00000423193, 148.0000063777, 1);
$orange_9_e6c1a2: rgba(230.00000149012, 193.00000369549, 162.00000554323, 1);
$orange_8_e9caaf: rgba(233.0000013113, 202.00000315905, 175.00000476837, 1);
$orange_7_edd2bc: rgba(237.00000107288, 210.00000268221, 188.00000399351, 1);
$orange_6_f_dbc9: rgba(240.00000089407, 219.00000214577, 201.00000321865, 1);
$orange_5_f4e4d7: rgba(244.00000065565, 228.00000160933, 215.00000238419, 1);
$orange_4_f7ede4: rgba(247.00000047684, 237.00000107288, 228.00000160933, 1);
$orange_3_fbf6f1: rgba(251.00000023842, 246.00000053644, 241.00000083447, 1);
$yellow_23_1411_b: rgba(20.000000707805, 17.000000886619, 11.000000294298, 1);
$yellow_22_282216: rgba(40.00000141561, 34.000001773238, 22.000000588596, 1);
$yellow_21_3c332_: rgba(60.000000223517, 51.000000759959, 32.000001892447, 1);
$yellow_2_5_442b: rgba(80.000002831221, 68.000003546476, 43.000001236796, 1);
$yellow_19_645536: rgba(100.00000163913, 85.000002533197, 54.000000581145, 1);
$yellow_18_77664_: rgba(119.00000050664, 102.00000151992, 64.000003784895, 1);
$yellow_17_8b774b: rgba(139.00000691414, 119.00000050664, 75.000003129244, 1);
$yellow_16_9f8856: rgba(159.00000572205, 136.00000709295, 86.000002473593, 1);
$yellow_15_b3996_: rgba(179.00000452995, 153.00000607967, 96.000001877546, 1);
$yellow_14_c7aa6b: rgba(199.00000333786, 170.00000506639, 107.0000012219, 1);
$yellow_12_ddc_81: rgba(221.00000202656, 192.00000375509, 129.00000751019, 1);
$yellow_11_e_c68e: rgba(224.00000184774, 198.00000339746, 142.00000673532, 1);
$yellow_1_e4cc9a: rgba(228.00000160933, 204.00000303984, 154.00000602007, 1);
$yellow_9_e7d3a7: rgba(231.00000143051, 211.0000026226, 167.00000524521, 1);
$yellow_8_ead9b3: rgba(234.0000012517, 217.00000226498, 179.00000452995, 1);
$yellow_7_eedfc_: rgba(238.00000101328, 223.00000190735, 192.00000375509, 1);
$yellow_6_f1e5cc: rgba(241.00000083447, 229.00000154972, 204.00000303984, 1);
$yellow_5_f4ecd9: rgba(244.00000065565, 236.00000113249, 217.00000226498, 1);
$yellow_4_f8f2e5: rgba(248.00000041723, 242.00000077486, 229.00000154972, 1);
$yellow_3_fbf8f2: rgba(251.00000023842, 248.00000041723, 242.00000077486, 1);
$green_23_d1_b: rgba(13.000000175089, 16.000000946224, 11.000000294298, 1);
$green_22_191f15: rgba(25.000000409782, 31.000000052154, 21.000000648201, 1);
$green_21_262f1f: rgba(38.00000153482, 47.000000998378, 31.000000052154, 1);
$green_2_323e2a: rgba(50.000000819564, 62.000000104308, 42.000001296401, 1);
$green_19_3f4d34: rgba(63.000000044703, 77.000003010035, 52.000000700355, 1);
$green_18_4b5d3e: rgba(75.000003129244, 93.00000205636, 62.000000104308, 1);
$green_17_586c48: rgba(88.000002354383, 108.00000116229, 72.000003308058, 1);
$green_16_647b53: rgba(100.00000163913, 123.00000026822, 83.000002652407, 1);
$green_15_718b5d: rgba(113.00000086427, 139.00000691414, 93.00000205636, 1);
$green_14_7d9a67: rgba(125.00000014901, 154.00000602007, 103.00000146031, 1);
$green_13_89a971: rgba(137.00000703335, 169.000005126, 113.00000086427, 1);
$green_12_93b_7d: rgba(147.0000064373, 176.00000470877, 125.00000014901, 1);
$green_11_9eb88a: rgba(158.00000578165, 184.00000423193, 138.00000697374, 1);
$green_1_a9c_97: rgba(169.000005126, 192.00000375509, 151.00000619888, 1);
$green_9_b3c8a4: rgba(179.00000452995, 200.00000327826, 164.00000542402, 1);
$green_8_bed_b1: rgba(190.0000038743, 208.00000280142, 177.00000464916, 1);
$green_7_c9d7be: rgba(201.00000321865, 215.00000238419, 190.0000038743, 1);
$green_6_d4dfcb: rgba(212.000002563, 223.00000190735, 203.00000309944, 1);
$green_5_dee7d8: rgba(222.00000196695, 231.00000143051, 216.00000232458, 1);
$green_4_e9efe5: rgba(233.0000013113, 239.00000095367, 229.00000154972, 1);
$green_3_f4f7f2: rgba(244.00000065565, 247.00000047684, 242.00000077486, 1);
$cyan_23_e1111: rgba(14.000000115484, 17.000000886619, 17.000000886619, 1);
$cyan_22_1b2222: rgba(27.000000290573, 34.000001773238, 34.000001773238, 1);
$blue_24_9_c_d: rgba(9.0000004135072, 12.000000234693, 13.000000175089, 1);
$blue_23_12171a: rgba(18.000000827014, 23.000000528991, 26.000000350177, 1);
$cyan_21_293333: rgba(41.000001356006, 51.000000759959, 51.000000759959, 1);
$cyan_2_364444: rgba(54.000000581145, 68.000003546476, 68.000003546476, 1);
$cyan_19_445555: rgba(68.000003546476, 85.000002533197, 85.000002533197, 1);
$cyan_18_516666: rgba(81.000002771616, 102.00000151992, 102.00000151992, 1);
$cyan_17_5f7777: rgba(95.000001937151, 119.00000050664, 119.00000050664, 1);
$cyan_16_6c8989: rgba(108.00000116229, 137.00000703335, 137.00000703335, 1);
$cyan_15_7a9a9a: rgba(122.00000032783, 154.00000602007, 154.00000602007, 1);
$cyan_14_87aaaa: rgba(135.00000715256, 170.00000506639, 170.00000506639, 1);
$cyan_13_94bbbb: rgba(148.0000063777, 187.00000405312, 187.00000405312, 1);
$cyan_12_9dc1c1: rgba(157.00000584126, 193.00000369549, 193.00000369549, 1);
$cyan_11_a7c7c7: rgba(167.00000524521, 199.00000333786, 199.00000333786, 1);
$cyan_1_b1cdcd: rgba(177.00000464916, 205.00000298023, 205.00000298023, 1);
$cyan_9_bad3d3: rgba(186.00000411272, 211.0000026226, 211.0000026226, 1);
$cyan_8_c4d9d9: rgba(196.00000351667, 217.00000226498, 217.00000226498, 1);
$cyan_7_cee_e_: rgba(206.00000292063, 224.00000184774, 224.00000184774, 1);
$cyan_6_d8e6e6: rgba(216.00000232458, 230.00000149012, 230.00000149012, 1);
$cyan_5_e1ecec: rgba(225.00000178814, 236.00000113249, 236.00000113249, 1);
$cyan_4_ebf2f2: rgba(235.00000119209, 242.00000077486, 242.00000077486, 1);
$cyan_3_f5f8f8: rgba(245.00000059605, 248.00000041723, 248.00000041723, 1);
$cyan_2_fafbfb: rgba(250.00000029802, 251.00000023842, 251.00000023842, 1);
$blue_22_1b2326: rgba(27.000000290573, 35.000001713634, 38.00000153482, 1);
$blue_21_232e33: rgba(35.000001713634, 46.000001057982, 51.000000759959, 1);
$blue_2_2c394_: rgba(44.000001177192, 57.000000402331, 64.000003784895, 1);
$blue_19_35454c: rgba(53.00000064075, 69.000003486872, 76.000003069639, 1);
$blue_18_3e5_59: rgba(62.000000104308, 80.000002831221, 89.000002294779, 1);
$blue_17_465b66: rgba(70.000003427267, 91.00000217557, 102.00000151992, 1);
$blue_16_4f6772: rgba(79.000002890825, 103.00000146031, 114.00000080466, 1);
$blue_15_58727f: rgba(88.000002354383, 114.00000080466, 127.0000000298, 1);
$blue_13_6e8895: rgba(110.00000104308, 136.00000709295, 149.00000631809, 1);
$blue_12_7c94a_: rgba(124.00000020862, 148.0000063777, 160.00000566244, 1);
$blue_11_8ba_aa: rgba(139.00000691414, 160.00000566244, 170.00000506639, 1);
$blue_1_99acb5: rgba(153.00000607967, 172.00000494719, 181.00000441074, 1);
$blue_9_a8b8bf: rgba(168.0000051856, 184.00000423193, 191.0000038147, 1);
$blue_8_b6c3ca: rgba(182.00000435114, 195.00000357628, 202.00000315905, 1);
$blue_4_f_f3f4: rgba(240.00000089407, 243.00000071526, 244.00000065565, 1);
$grey_23_: rgba(0, 0, 0, 1);
$grey_21_2c2c2c: rgba(44.000001177192, 44.000001177192, 44.000001177192, 1);
$grey_2_373737: rgba(55.000000521541, 55.000000521541, 55.000000521541, 1);
$grey_19_424242: rgba(66.000003665686, 66.000003665686, 66.000003665686, 1);
$grey_18_515151: rgba(81.000002771616, 81.000002771616, 81.000002771616, 1);
$grey_17_616161: rgba(97.000001817942, 97.000001817942, 97.000001817942, 1);
$grey_16_6b6b6b: rgba(107.0000012219, 107.0000012219, 107.0000012219, 1);
$grey_15_757575: rgba(117.00000062585, 117.00000062585, 117.00000062585, 1);
$grey_14_8_8_8_: rgba(128.00000756979, 128.00000756979, 128.00000756979, 1);
$grey_13_8a8a8a: rgba(138.00000697374, 138.00000697374, 138.00000697374, 1);
$grey_12_949494: rgba(148.0000063777, 148.0000063777, 148.0000063777, 1);
$grey_11_9e9e9e: rgba(158.00000578165, 158.00000578165, 158.00000578165, 1);
$grey_1_adadad: rgba(173.00000488758, 173.00000488758, 173.00000488758, 1);
$grey_9_bdbdbd: rgba(189.00000393391, 189.00000393391, 189.00000393391, 1);
$grey_8_c5c5c5: rgba(197.00000345707, 197.00000345707, 197.00000345707, 1);
$grey_7_cecece: rgba(206.00000292063, 206.00000292063, 206.00000292063, 1);
$grey_6_d7d7d7: rgba(215.00000238419, 215.00000238419, 215.00000238419, 1);
$grey_5_e_e_e_: rgba(224.00000184774, 224.00000184774, 224.00000184774, 1);
$grey_4_eeeeee: rgba(238.00000101328, 238.00000101328, 238.00000101328, 1);
$grey_3_f5f5f5: rgba(245.00000059605, 245.00000059605, 245.00000059605, 1);
$grey_2_fafafa: rgba(250.00000029802, 250.00000029802, 250.00000029802, 1);
$grey_1_ffffff: rgba(255, 255, 255, 1);

///Texts
@mixin headline_4_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 27px;
	font-size: 18px;
	letter-spacing: 0px;
}
@mixin headline_5_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 18px;
	font-size: 15px;
	letter-spacing: 0px;
}
@mixin headline_6_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin overline_text_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin overline_text_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin overline_text_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin caption_text_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 9px;
	letter-spacing: 0px;
}
@mixin caption_text_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 18px;
	font-size: 9px;
	letter-spacing: 0px;
}
@mixin caption_text_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 9px;
	letter-spacing: 0px;
}
@mixin button_text_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin button_text_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin button_text_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin headline_6_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin headline_5_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 15px;
	letter-spacing: 0px;
}
@mixin headline_3_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 36px;
	font-size: 24px;
	letter-spacing: 0px;
}
@mixin headline_2_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 45px;
	font-size: 36px;
	letter-spacing: 0px;
}
@mixin headline_1_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 54px;
	font-size: 48px;
	letter-spacing: 0px;
}
@mixin headline_6_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin headline_4_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 27px;
	font-size: 18px;
	letter-spacing: 0px;
}
@mixin headline_3_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 36px;
	font-size: 24px;
	letter-spacing: 0px;
}
@mixin headline_2_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 45px;
	font-size: 36px;
	letter-spacing: 0px;
}
@mixin headline_1_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 54px;
	font-size: 48px;
	letter-spacing: 0px;
}
@mixin headline_5_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 15px;
	letter-spacing: 0px;
}
@mixin subtitle_2_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin subtitle_1_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 15px;
	letter-spacing: 0px;
}
@mixin subtitle_2_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin subtitle_1_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 18px;
	font-size: 15px;
	letter-spacing: 0px;
}
@mixin subtitle_2_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin subtitle_1_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 15px;
	letter-spacing: 0px;
}
@mixin headline_4_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 27px;
	font-size: 18px;
	letter-spacing: 0px;
}
@mixin headline_3_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 36px;
	font-size: 24px;
	letter-spacing: 0px;
}
@mixin headline_2_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 45px;
	font-size: 36px;
	letter-spacing: 0px;
}
@mixin headline_1_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 54px;
	font-size: 48px;
	letter-spacing: 0px;
}
@mixin body_2_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin body_2_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin body_2_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin body_1_book($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 15px;
	letter-spacing: 0px;
}
@mixin body_1_medium($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 500;
	line-height: 18px;
	font-size: 15px;
	letter-spacing: 0px;
}
@mixin body_1_heavy($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 15px;
	letter-spacing: 0px;
}
@mixin link_text_inactive($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin link_text_clicked($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin link_text_hover($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
@mixin link_text_default($text-align:"") {
	@if $text-align != "" {
		text-align: $text-align;
	}
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}
