.MuiTableSortLabel-icon-64,
.MuiTableSortLabel-active-2711 .MuiTableSortLabel-icon-2712 {
	fill: #bdbdbd;
}
.TableSelect-formControl-964 {
	margin: 0;
}
.MuiTableSortLabel-root-2710 {
	width: 100%;
	display: block;
}

table {
	thead {
		tr {
			th.vms-table-header__with-select {
				padding: 13px 0 0 13px !important;
			}
		}
	}
}

tbody {
	tr {
		td {
			&.raised {
			}
		}
	}
}
.grip-texture {
	background-image: url(/img/Grip.png);
	position: absolute;
	top: 10px;
	right: 5px;
	bottom: 10px;
	height: 84%;
	width: 15px;
	background-repeat: space space;
}
.vms-table-header {
	position: relative;
}
.TableSelect-formControl-82 {
	margin: 0 !important;
	min-width: 120px;
	width: -webkit-fill-available !important;
	padding-right: 25px !important;
}
.vms-table-header__with-select {
	position: relative;
	span {
		display: flex;
		width: 100%;
		justify-content: space-between;

		svg {
			fill: #bdbdbd;
			margin-right: 30px;
		}
	}
	.dropdown {
		width: 100%;
		*:before {
			border: none;
		}
		.MuiSelect-root-104,
		input,
		label {
			font-size: 12px;
			line-height: normal;
			font-weight: 400;
			color: #212121;
			letter-spacing: 1px;
		}
		svg {
			fill: #607d8b;
		}
	}
}
