/* Drop Shadow Up Styles */
#n229_0 {
	width: 100vw;
	height: 100vh;
	overflow: visible;
	background: rgb(249, 249, 249);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* • Level +09 */
#n229_3 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1674px;
	top: 284px;
}

/* • Level +08 */
#n229_4 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1476px;
	top: 284px;
}

/* • Level +07 */
#n229_5 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1278px;
	top: 284px;
}

/* • Level +06 */
#n229_6 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1080px;
	top: 284px;
}

/* • Level +05 */
#n229_7 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 882px;
	top: 284px;
}

/* • Level +04 */
#n229_8 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 684px;
	top: 284px;
}

/* • Level +03 */
#n229_9 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 486px;
	top: 284px;
}

/* • Level +02 */
#n229_10 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 288px;
	top: 284px;
}

/* • Level +01 */
#n229_11 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 90px;
	top: 284px;
}

/* Level 09 */
#n229_13 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px -3px 9px 0px;
	left: 1674px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 08 */
#n229_14 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px -3px 8px 0px;
	left: 1476px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 07 */
#n229_15 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px -3px 7px 0px;
	left: 1278px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 06 */
#n229_16 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.09) 0px -2px 6px 0px;
	left: 1080px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 05 */
#n229_17 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px -2px 5px 0px;
	left: 882px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 04 */
#n229_18 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px -2px 4px 0px;
	left: 684px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 03 */
#n229_19 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px -1px 3px 0px;
	left: 486px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 02 */
#n229_20 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px -1px 2px 0px;
	left: 288px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 01 */
#n229_21 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px -1px 1px 0px;
	left: 90px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Drop Shadow Up Effect Styles */
#n229_23 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 202px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 18px;
	top: 14px;
}

/* | */
#n229_24 {
	background: rgb(0, 0, 0);
	width: 1px;
}

#n229_12,
#n229_2,
#n29_89,
#n29_91,
#n235_2,
#n235_12,
#n235_37,
#n235_37,
#n235_47,
#n29_90,
#n29_92 {
	display: flex;
	justify-content: space-around;
}

// =======================================================================================================================================================
// INNER SHADOW STYLES
// =======================================================================================================================================================

/* Inner Shadow Styles */
#n14_69 {
	width: 100%;
	height: 100%;
	overflow: visible;
	background: rgb(255, 255, 255);
}

/* • Level -09 */
#n14_45 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1674px;
	top: 284px;
}

/* • Level -08 */
#n14_46 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1476px;
	top: 284px;
}

/* • Level -07 */
#n14_47 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1278px;
	top: 284px;
}

/* • Level -06 */
#n14_48 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1080px;
	top: 284px;
}

/* • Level -05 */
#n14_49 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 882px;
	top: 284px;
}

/* • Level -04 */
#n14_50 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 684px;
	top: 284px;
}

/* • Level -03 */
#n14_51 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 486px;
	top: 284px;
}

/* • Level -02 */
#n14_52 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 288px;
	top: 284px;
}

/* • Level -01 */
#n14_53 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 90px;
	top: 284px;
}

/* Level -09 */
#n14_24 {
	background: rgb(249, 249, 249);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 9px 9px 0px;
	left: 1674px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level -08 */
#n14_28 {
	background: rgb(249, 249, 249);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 8px 8px 0px;
	left: 1476px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level -07 */
#n14_27 {
	background: rgb(249, 249, 249);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 7px 7px 0px;
	left: 1278px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level -06 */
#n14_32 {
	background: rgb(249, 249, 249);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 6px 0px;
	left: 1080px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level -05 */
#n14_33 {
	background: rgb(249, 249, 249);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 5px 0px;
	left: 882px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level -04 */
#n14_34 {
	background: rgb(249, 249, 249);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 4px 0px;
	left: 684px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level -03 */
#n14_29 {
	background: rgb(249, 249, 249);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 3px 0px;
	left: 486px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level -02 */
#n14_30 {
	background: rgb(249, 249, 249);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 2px 0px;
	left: 288px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level -01 */
#n14_31 {
	background: rgb(249, 249, 249);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 1px 0px;
	left: 90px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Inner Shadow Effect Styles */
#n14_36 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 188px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 18px;
	top: 14px;
}

/* | */
#n14_64 {
	background: rgb(0, 0, 0);
	width: 1px;
}

// =======================================================================================================================================================
// DROP SHADOW RIGHT
// =======================================================================================================================================================

/* Drop Shadow Right Styles */
#n235_0 {
	width: 100%;
	height: 100%;
	overflow: visible;
	background: rgb(249, 249, 249);
}

/* • Level +09 */
#n235_3 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1674px;
	top: 284px;
}

/* • Level +08 */
#n235_4 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1476px;
	top: 284px;
}

/* • Level +07 */
#n235_5 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1278px;
	top: 284px;
}

/* • Level +06 */
#n235_6 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1080px;
	top: 284px;
}

/* • Level +05 */
#n235_7 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 882px;
	top: 284px;
}

/* • Level +04 */
#n235_8 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 684px;
	top: 284px;
}

/* • Level +03 */
#n235_9 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 486px;
	top: 284px;
}

/* • Level +02 */
#n235_10 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 288px;
	top: 284px;
}

/* • Level +01 */
#n235_11 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 90px;
	top: 284px;
}

/* Level 09 */
#n235_13 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 3px 0px 9px 0px;
	left: 1674px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 08 */
#n235_14 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 3px 0px 8px 0px;
	left: 1476px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 07 */
#n235_15 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 3px 0px 7px 0px;
	left: 1278px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 06 */
#n235_16 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.09) 2px 0px 6px 0px;
	left: 1080px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 05 */
#n235_17 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 2px 0px 5px 0px;
	left: 882px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 04 */
#n235_18 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 2px 0px 4px 0px;
	left: 684px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 03 */
#n235_19 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 1px 0px 3px 0px;
	left: 486px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 02 */
#n235_20 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 1px 0px 2px 0px;
	left: 288px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 01 */
#n235_21 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 1px 0px 1px 0px;
	left: 90px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Drop Shadow Right Effect Styles */

/* Drop Shadow Right Styles */
#n235_0 {
	width: 100%;
	height: 100%;
	overflow: visible;
	background: rgb(249, 249, 249);
}

/* • Level +09 */
#n235_3 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1674px;
	top: 284px;
}

/* • Level +08 */
#n235_4 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1476px;
	top: 284px;
}

/* • Level +07 */
#n235_5 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1278px;
	top: 284px;
}

/* • Level +06 */
#n235_6 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1080px;
	top: 284px;
}

/* • Level +05 */
#n235_7 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 882px;
	top: 284px;
}

/* • Level +04 */
#n235_8 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 684px;
	top: 284px;
}

/* • Level +03 */
#n235_9 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 486px;
	top: 284px;
}

/* • Level +02 */
#n235_10 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 288px;
	top: 284px;
}

/* • Level +01 */
#n235_11 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 90px;
	top: 284px;
}

/* Level 09 */
#n235_13 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 3px 0px 9px 0px;
	left: 1674px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 08 */
#n235_14 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 3px 0px 8px 0px;
	left: 1476px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 07 */
#n235_15 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 3px 0px 7px 0px;
	left: 1278px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 06 */
#n235_16 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.09) 2px 0px 6px 0px;
	left: 1080px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 05 */
#n235_17 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 2px 0px 5px 0px;
	left: 882px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 04 */
#n235_18 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 2px 0px 4px 0px;
	left: 684px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 03 */
#n235_19 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 1px 0px 3px 0px;
	left: 486px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 02 */
#n235_20 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 1px 0px 2px 0px;
	left: 288px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 01 */
#n235_21 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 1px 0px 1px 0px;
	left: 90px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Drop Shadow Right Effect Styles */
#n235_23 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 224px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 18px;
	top: 14px;
}

/* | */
#n235_24 {
	background: rgb(0, 0, 0);
	width: 1px;
}

// =======================================================================================================================================================
// DROP SHADOW LEFT
// =======================================================================================================================================================

/* Drop Shadow Left Styles */
#n235_35 {
	width: 100%;
	height: 100%;
	overflow: visible;
	background: rgb(249, 249, 249);
}

/* • Level +09 */
#n235_38 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1674px;
	top: 284px;
}

/* • Level +08 */
#n235_39 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1476px;
	top: 284px;
}

/* • Level +07 */
#n235_40 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1278px;
	top: 284px;
}

/* • Level +06 */
#n235_41 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1080px;
	top: 284px;
}

/* • Level +05 */
#n235_42 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 882px;
	top: 284px;
}

/* • Level +04 */
#n235_43 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 684px;
	top: 284px;
}

/* • Level +03 */
#n235_44 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 486px;
	top: 284px;
}

/* • Level +02 */
#n235_45 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 288px;
	top: 284px;
}

/* • Level +01 */
#n235_46 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 90px;
	top: 284px;
}

/* Level 09 */
#n235_48 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) -3px 0px 9px 0px;
	left: 1674px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 08 */
#n235_49 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) -3px 0px 8px 0px;
	left: 1476px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 07 */
#n235_50 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) -3px 0px 7px 0px;
	left: 1278px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 06 */
#n235_51 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.09) -2px 0px 6px 0px;
	left: 1080px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 05 */
#n235_52 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) -2px 0px 5px 0px;
	left: 882px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 04 */
#n235_53 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) -2px 0px 4px 0px;
	left: 684px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 03 */
#n235_54 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) -1px 0px 3px 0px;
	left: 486px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 02 */
#n235_55 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) -1px 0px 2px 0px;
	left: 288px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 01 */
#n235_56 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) -1px 0px 1px 0px;
	left: 90px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Drop Shadow Left Effect Styles */
#n235_58 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 217px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 18px;
	top: 14px;
}

/* | */
#n235_59 {
	background: rgb(0, 0, 0);
	width: 1px;
}

// =======================================================================================================================================================
// DROP SHADOW DOWN
// =======================================================================================================================================================

/* Drop Shadow Down Styles */
#n14_68,
#n235_36,
#n235_0 {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	overflow: visible;
	background: rgb(249, 249, 249);
}

/* • Level +09 */
#n14_35 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1674px;
	top: 284px;
}

/* • Level +08 */
#n14_44 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1476px;
	top: 284px;
}

/* • Level +07 */
#n14_43 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1278px;
	top: 284px;
}

/* • Level +06 */
#n14_42 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 1080px;
	top: 284px;
}

/* • Level +05 */
#n14_41 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 882px;
	top: 284px;
}

/* • Level +04 */
#n14_40 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 684px;
	top: 284px;
}

/* • Level +03 */
#n14_39 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 486px;
	top: 284px;
}

/* • Level +02 */
#n14_38 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 288px;
	top: 284px;
}

/* • Level +01 */
#n14_37 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 180px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 90px;
	top: 284px;
}

/* Level 09 */
#n14_3 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 9px 0px;
	left: 1674px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 08 */
#n14_12 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px 0px;
	left: 1476px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 07 */
#n14_11 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 7px 0px;
	left: 1278px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 06 */
#n14_10 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 6px 0px;
	left: 1080px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 05 */
#n14_9 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 5px 0px;
	left: 882px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 04 */
#n14_8 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
	left: 684px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 03 */
#n14_7 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 3px 0px;
	left: 486px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 02 */
#n14_5 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px 0px;
	left: 288px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Level 01 */
#n14_4 {
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 1px 0px;
	left: 90px;
	width: 180px;
	top: 90px;
	height: 180px;
}

/* Drop Shadow Down Effect Styles */
#n14_63 {
	font-family: "Roboto Mono";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 217px;
	transform: translate(0px, -1.68px);
	line-height: 18px;
	height: 18px;
	left: 18px;
	top: 14px;
}

/* | */
#n14_70 {
	background: rgb(0, 0, 0);
	width: 1px;
}
