@import '../../sass/mixins';
@import '../../sass/variables';

button {
	outline: none;
	max-width: 50vw;
	&.primary {
		@extend %primary-base;
	}

	&.secondary {
		@extend %secondary-base;
	}

	&.tertiary {
		color: $blue_primary;
		background-color: transparent;
		border: none;

		@extend %button-base;

		&:hover {
			background: #e2e7e9;
		}
		&:active {
			color: #7c94a0;
			background: #f0f3f4;
		}

		// Disabled handled by button-base
	}

	&.pill {
		border-radius: 13.5px !important;
		min-width: 180px;
		background: #ffffff;
		border-radius: 13.5px;
		padding: 6px 26px;
		border: none;
		outline: none;
		min-height: 27px;

		&:not([disabled]) {
			color: #58727f !important;
		}
		position: relative;
		font-weight: 700;
		color: inherit;
		line-height: 18px;
		box-shadow: none;

		&:hover {
			background: #e2e7e9;
			color: #4f6772;
			box-shadow: none;
		}
		&:active {
			background: #f0f3f4;
			color: #7c94a0;
			box-shadow: none;
		}
		&[disabled] {
			background: #ffffff;
		}
		@extend %inactive;

		&:after {
			position: absolute;
			content: '+';
			left: 24px;
			top: auto;
			font-size: 12px;
			line-height: 18px;
		}
	}
	&.link {
		@extend %button-base;
		color: #607d8b;
		border: none;
		text-decoration-line: underline;

		&:hover {
			color: #4f6772;
		}
		&:active {
			color: #7c94a0;
		}

		&[disabled] {
			color: #c5c5c5;
		}
	}
}
